@import 'tailwindcss';

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/montserrat-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Tailwind v4: esto crea la utility `font-montserrat` */
@theme {
  --font-montserrat: 'Montserrat', sans-serif;
}

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    night;
}

/* opcional: aplicarla global */
html {
  font-family: var(--font-montserrat);
}
